<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mywebfinal.demo.mapper.NotesMapper">

    <select id="listNotes" resultType="Notes">
        select * from notes;
    </select>

    <insert id="addNotes" parameterType="mywebfinal.demo.domain.Notes" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `notes`
        (`title`, `description`, `text`, `create_time`)
        VALUES
        (#{title}, #{description}, #{text}, #{createTime})
    </insert>

</mapper>